/* =============================== MAIN ==================================== */
body {
  background-color: #e5e5e5;
}
.wrapper {
  margin: 0 auto;
  max-width: 748px;
  position: relative;
  padding: 10px;
  background: #fff;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-bottom-width: 2px;
  border-top-width: 0;
}
.block-title {
  margin: 10px auto 10px;
}
.block-title h2 {
  text-align: center;
  font-size: 22px;
  font-family: Arial, sans-serif;
  text-transform: capitalize;
  text-decoration: underline;
  font-weight: bold;
  color: #FF9100;
}
.wrapper:nth-child(7) {
	display: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* =============================== jQuery Carousel ==================================== */
.carousel {
  margin: 50px 0;
}
.carousel__hider {
  float: left;
  overflow: hidden;
  width: 620px;
}
.carousel__list {
  position: relative;
  width: 10000px;
}
.carousel__item {
  float: left;
  margin-right: 25px;
  display: block;
}
.item__image {
  max-width: 100px;
}
.item__text {
  text-align: center;
}
.carousel__arrow {
  float: left;
  display: block;
  padding: 5px;
  margin-top: 20px;
  border: 1px solid #d8d8d8;
  background: rgb(255,100,100);
  color: #fff;
}
.carousel__arrow:hover {
  cursor: pointer;
  border-color: #000;
  color: #000;
}
.carousel__arrow_left {
  margin-right: 20px;
}
.carousel__arrow_right {
  margin-left: 20px;
}
@media screen and (max-width: 750px) {
  .wrapper {
     max-width: 500px;
  }
  .carousel__hider {
    width: 350px;
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
     max-width: 250px;
  }
  .carousel__hider {
    width: 100px;
  }
}
/* =============================== User Profile ==================================== */
.profile h3 {
  font-size: 27px;
  font-weight: bold;
}
.profile {
  font-size: 18px;        
  text-align: left; 
}
.profile p {
  padding-left: 70px;
}
.profile hr {
  width: 80%;
  margin: 20px auto;
}
.me {
  padding-top: 20px;
  text-align: center;
}
.me img {
  width: 150px;
  height: 150px;
  margin: 20px 0 15px;
}
.me p {
  text-align: left;
}
.why ul {
  margin: 20px 0 0 70px;
}
.why li {
  padding-bottom: 5px;
}
.contacts p {
  margin-bottom: 15px;
}
.feedback {
  padding-bottom: 65px;
}
.feedback p {
  padding-bottom: 5px;
}
.bold {
  font-weight: bold;
}
.bonus {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #598293;
}